.gamesItem {
    display: flex;
    width: 80%;
    height: 63vh;
    position: relative;
    overflow: hidden;
    margin: 1em 0 6em;
    border-radius: 20px;
    background-color: black;
}

.gamesItem h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #45dbe9;
}

.mediaContainer {
    width: 100%;
    height: 100%;
}

.gameGif {
    display: none;
}

.videoContainer {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    -webkit-mask-image: url("../../images/white-square.png");
    mask-image: url("../../images/white-square.png");
}

.videoContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.right .gamesItem {
    margin-left: 17%;
    box-shadow: 12px 12px #45dbe9;
}

.left .gamesItem {
    margin-left: 4%;
    box-shadow: -12px 12px #45dbe9;
}

@media (max-width: 60em) {
    .gameGif {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .videoContainer {
        display: none;
    }
}

@media (max-width: 45em) {
    .gamesItem {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 0;
        border-radius: 0;
    }

    .right .gamesItem {
        margin-left: 0;
        border-right: 0;
        box-shadow: none;
    }

    .left .gamesItem {
        margin-left: 0;
        border-left: 0;
        box-shadow: none;
    }
}