#aboutDescription {
    text-align: center;
}

#aboutDescription h1 {
    padding-bottom: 1.5em;
}

#aboutDescription .picture {
    padding-bottom: 3em;
}

#aboutDescription .picture img {
    max-width: 15em;
    margin: 0 0;
}

#aboutDescription .descriptionText {
    text-align: justify;
}

#aboutDescription .descriptionText p {
    max-width: 50%;
    justify-self: center;
    white-space: pre-line;
}

@media (max-width: 60em) {
    #home #aboutDescription p {
        max-width: 90%;
        font-size: 19px;
    }

    #aboutDescription .picture img {
        max-width: 13em;
    }
}
