.downwardArrows {
    text-align: center;
    padding-right: 2em;
}

.downwardArrows img {
    display: none;
    width: 2.8em;
    height: 2.8em;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5em;
}

.downwardArrows img:hover {
    scale: 1.15;
}

@media (min-width: 110em) {
    .downwardArrows img {
        display: initial;
    }
}