footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 5em;
}

footer ul a {
    max-height: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 1.5em 0;
    border-bottom: 2px solid transparent;
}

footer ul a:hover {
    border-bottom: 2px solid #45dbe9;
}

footer li {
    max-height: 40px;
}

footer img {
    width: 40px;
    height: 40px;
    padding-bottom: 4px;
}

@media (max-width: 40em) {
    footer ul {
        margin-bottom: 4em;
    }
    
    footer a {
        margin: 0 1em;
    }
    
    footer img {
        width: 40px;
        height: 40px;
    }
}