.gamesItem {
    display: flex;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.gamesItem h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #45dbe9;
}

.mediaContainer {
    width: 100%;
    height: 100%;
}

.gameGif {
    display: none;
}

.videoContainer {
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-mask-image: url("../images/white-square.png");
    mask-image: url("../images/white-square.png");
}

.videoContainer img {
    width: 100%;
    height: 150%;
    transform: translateY(-13%);
}

@media (max-width: 60em) {
    .gameGif {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .videoContainer {
        display: none;
    }
}