.gamesItem {
    display: flex;
    width: 80%;
    height: 63vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 7em;
    border-bottom: 6px solid #45dbe9;
    border-radius: 20px;
}

.gamesItem h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #45dbe9;
}

.mediaContainer {
    width: 100%;
    height: 100%;
}

.gameGif {
    display: none;
}

.videoContainer {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    -webkit-mask-image: url("../images/white-square.png");
    mask-image: url("../images/white-square.png");
}

.videoContainer img {
    width: 100%;
    height: 150%;
    position: absolute;
    transform: translateY(-13%);
    z-index: 1;
}

.right .gamesItem {
    margin-left: 16%;
    border-right: 6px solid #45dbe9;
}

.left .gamesItem {
    margin-left: 3%;
    border-left: 6px solid #45dbe9;
}

@media (max-width: 60em) {
    .gameGif {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .videoContainer {
        display: none;
    }
}