.upwardArrows {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.upwardArrows:hover {
    scale: 1.15;
}

@media (max-width: 60em) {
    .upwardArrows {
        width: 100%;
        position: relative;
        display: block;
        right: 0;
        bottom: 0;
        margin-bottom: 7%;
    }
}
